@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&display=swap');

*{
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    cursor: pointer;
}

body{ 
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: hsl(0, 0%, 8%);
    justify-content: center;
    align-items: center;
    line-height: 30px;

    
}

.profile__container{
   
    background-color: hsl(0, 0%, 12%);
    
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 350px;
    height: 530px;
}

.img img{
    border-radius: 60px;
    width: 100px;
    height: 100px;
    padding: 1rem;
    margin-left: 110px;
}

.text h2{
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    margin-left: 78px;
}

.text h3{
    color: hsl(75, 94%, 57%);
    font-size: small;
    margin-left: 90px;
}

.text p{
    color: hsl(0, 0%, 100%);
    margin-left: 50px;

    white-space: nowrap;
    line-height: 50px;
    
}

.social__links{
    
    flex-direction: column;
    justify-items: center;
    color: hsl(0, 0%, 100%) ;
    line-height: 45px;
    font-weight: bold;
}

.item{
    width: 300px;
    border-radius: 0.5rem ;
    background-color: hsl(0, 0%, 20%);
    text-align: center;
    margin-bottom: 18px;
}



.item:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

